In [ ]:
x = int(input("enter a number :"))
y = int(input("enter a number :"))
sum = x+y
print("sum of the two numbers:",sum)

enter a number :12
enter a number :18
sum of the two numbers: 30

In [ ]:
a=int(input("enter a number :"))
if a % 2==0:
  print("it is even")
else:
  print("it is odd")

enter a number :23
it is odd

In [ ]:
a=int(input("enter a number :"))
b=0
for i in range(2,a):
  if a%i==0:
    b+=1
    break
if(b==0):
  print("prime number")
else:
  print("not a prime number")

enter a number :3
prime number

In [ ]:
a=int(input("enter a number :"))
b=int(input("enter a number :"))
c=int(input("enter a number :"))
d=int(input("enter a number :"))
l=[a,b,c,d]
print(max(l))

enter a number :12
enter a number :30
enter a number :90
enter a number :20
90

In [ ]:
b=int(input("enter a number :"))
c=1
for i in range(1,b+1):
  c*=i
print(c)

enter a number :5
120

In [ ]:
a=int(input("enter number :"))
b=str(a)
c=b[::-1]
print(int(c))

enter number :1234
4321

In [ ]:
a=input("enter sequence :")
b=a[::-1]
if b==a:
  print("palindrome")
else:
  print("not palindrome")

enter sequence :racecar
palindrome

In [ ]:
a=int(input("enter the number :"))
q=0
b=str(a)
for i in range (len(b)):
  c=0
  c=a%10
  a=a//10
  q+=c
print(q)

enter the number :7532
17

In [ ]:
a=int(input("table value :"))
b=int(input("enter the number of multi :"))
for i in range(1,b+1):
  print(a,"*",i,"=",a*i)

table value :12
enter the number of multi :12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

In [ ]:
a=int(input("enter a number :"))
b=int(input("enter a number :"))
d=input("enter the symbol :")
match(d):
  case "+":
    print(a+b)
  case "-":
    print(a-b)
  case "*":
    print(a*b)
  case "/":
    print(a/b)

enter a number :12
enter a number :20
enter the symbol :*
240

In [ ]:
for i in range(5):
  print(i*"*")
  print("\n")

*


**


***


****